.direaction {
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  width: 20%;
  margin-bottom: -2rem;
  font-size: 1.3rem;
  & > * {
    color: rgba(211, 211, 211, 0.482);
    margin: 0rem 0.3rem;
  }
}
