@import "../../scss/mixins";
.icon {
  &-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.35rem;
    @include respond(surface) {
      gap: 1.9rem;
    }
    
    &-icon {
      & > * {
        color: white;
        font-size: 1.93rem;
        cursor: pointer;
      }
      
    }
  }
}
