@import "./scss/mixins";
@import "./scss/variable";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  // @include respond(big-desktop) {
  //   font-size: 60%; //1rem = 12, 12/16
  // }
}

a {
  text-decoration: none;
}

.displaynone-adds {
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}

//  Chat icons styling
.only-for-mobile {
  display: none;
  padding-top: 1rem;
  cursor: pointer;

  @include respond(tab-port) {
    display: block;
  }
}

.only-for-desktop {
  &-chat-icon {
    text-align: right;
    margin-right: 9rem;
    cursor: pointer;
    & > * {
      margin-top: -6rem;
      position: fixed;
      background-color: #039be5;
      color: white;
      font-size: 3.5rem;
      padding: 1rem;
      border-radius: 50%;
    }
  }
  @include respond(phone) {
    display: none;
  }
}
.chat-icon {
  text-align: right;

  margin-right: 6rem;
  & > * {
    margin-top: -0.2rem;
    position: fixed;
    background-color: #039be5;
    color: white;
    font-size: 3.5rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
}

//
.display-non-adds {
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}

.mobile-marque {
  padding-top: 7.2rem;
  display: none;

  @include respond(tab-port) {
    display: block;
  }
}

.tst1 {
  z-index: -1000000;
  // position: absolute;
}
