$add-background: #d9d9d9;

// TypoGraphy

$color-dark: #000000;
$light-blue: #00c4fb;
$gray: #ffffff;
$white: #ffffff;

// Score Bar
$score-board: #203639;
$gray-dark: #666769;
$green: #41f331;

$btn-background: #ff4747;

// Footer
$footer-background: #0d1317;
